@use "functions" as *;
@use "sass:math";

// Main vars
$font-size-html: 10px;
$font-size-global: 18px;
$line-height-global: 26px;
$font-family-global: "Lato", sans-serif;
$font-family-headings: "Playfair Display", serif;
$container-width: 100%;
$container-width-max: 1170px;
$container-padding: 50px;
$btn--big-inline-padding: 90px;
$video-aspect-ratio: math.div(16, 9);

// Breakpoints desktop first
//Widescreen - default CSS
$xxl: 1400px;
$xxl-min: 1399.99px;
$xl: 1200px;
$xl-min: 1199.99px;
$lg: 992px;
$lg-min: 991.99px;
$md: 768px;
$md-min: 767.99px;
$sm: 576px;
$sm-min: 575.99px;
$xs: 360px;
$xs-min: 359.99px;